.App {
  text-align: center;
}

.navbar-brand {
  max-width: 4rem;
  margin-right: 2rem;
}

.navbar-brand img {
  width: 100%;
  height: 100%;
  margin-top: 0.5rem;
  max-width: 6rem;
}

.navbar-dark {
  background-color: #9273F8;
  margin-bottom: 2rem;
  min-height: 6rem;
}

.site-footer {
  background-color: #9273F8;
  margin-bottom: 2rem;
  min-height: 6rem;
}